.container {
  width: 970px;
}
.smooter img {
  width: 210px;
  height: 315px;
}
.browse-movie-title {
  font-size: 0.95em;
}
.browse-movie-tags a {
  margin-top: 10px;
  margin-right: 3px;
  font-size: 0.85em;
  padding: 5px 7px;
}
.col-md-10 {
  width: 50%;
}
