.container
  width: 750px;

.home-content, #movie-content
  padding-top: 40px;
  padding-bottom: 30px;

.main-content {
  top: 64px;
}

.movie-item
  width 210px

.smooter img
  height: 315px !important;
