.container
  width 970px

.movie-list-small-item
  width 190px

.movie-list-small-item .smooter img
  height: 265px !important;



.movie-list-big-item
  width 210px

.movie-list-big-item .smooter img
  height: 315px !important;
