@import vendor

$font = Arimo, Arial, Helvetica, "Lucida Grande", sans-serif
$background-color-black = #000
$background-color-black2 = #000
$background-color-black3 = #171717
$background-color-black4 = #555555
$background-color-black5 = #111111
$background-color-black6 = #222222
$background-color-black7 = #282828

$text-color-main = #919191
$text-color-second = #fff
$text-color-third = #ccc

$color-theme-1 = #36bce6
$color-theme-2 = #2071F0

$font-size-16 = 16px
$font-size-14 = 14px
$font-size-12 = 12px
$font-size-24 = 24px

/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin 0
  padding 0
  border 0
  font-size 100%
  font inherit
  vertical-align baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display block

body
  line-height 1

ol, ul
  list-style none

blockquote, q
  quotes none

blockquote:before, blockquote:after, q:before, q:after
  content ''
  content none

table
  border-collapse collapse
  border-spacing 0

a
  border 0
  text-decoration: none !important;

html
  font-family sans-serif
  text-size-adjust(100%)
  font-size 10px

label
  font-weight: bold

*
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

body
  line-height 1.42857143
  font-family $font
  letter-spacing -.03em
  font-size $font-size-16
  margin 0 auto
  background-color $background-color-black
  text-align center
  -webkit-font-smoothing antialiased
  color #fff

h3
  font-size: 1.25em;
  font-weight: bold;

.super-black
  background-color: $background-color-black2

.nagivation
  height 64px
  padding-top 8px
  margin 0px auto
  width 100%
  top 0
  position fixed
  z-index 8
  background $background-color-black
  overflow hidden
  color $text-color-main
  border-bottom 1px solid #2f2f2f
  backface-visibility(hidden)

.logo
  margin-left 5%
  float left

.slogan
  font-size 1.2em
  margin-left 2%
  margin-top 7px
  float left

.left
  float left

.right
  float right !important

.clear
  clear both

.main-nav-links
  margin-right 5%
  float right

.nav-links
  padding-top 15px
  display inline-block
  float left

a.theme
  transition(color .25s ease-in-out)
  color $color-theme-1

a.theme:hover
  color $color-theme-2

.nav-links li
  display inline
  margin-right 20px

.nav-links li a, .admin-nav a
  overflow hidden
  display inline-block
  font-size .85em
  font-weight bold
  color $text-color-main
  transition(color .25s ease-in-out)

.nav-links li a:hover, .admin-nav a:hover
  color $text-color-second

.nav-link-guest a
  color $text-color-second !important

#background-overlay, #background-image
  top 60px
  height 780px

#background-overlay
  position absolute
  left 0
  right 0
  z-index 6
  width 100%
  background -moz-linear-gradient(top, rgba(29, 29, 29, 0.65) 0, rgba(29, 29, 29, 1) 100%)
  background -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(29, 29, 29, 0.5)), color-stop(100%, rgba(29, 29, 29, 1)))
  background -webkit-linear-gradient(top, rgba(29, 29, 29, 0.65) 0, rgba(29, 29, 29, 1) 100%)
  background -o-linear-gradient(top, rgba(29, 29, 29, 0.65) 0, rgba(29, 29, 29, 1) 100%)
  background -ms-linear-gradient(top, rgba(29, 29, 29, 0.65) 0, rgba(29, 29, 29, 1) 100%)
  background linear-gradient(to bottom, rgba(29, 29, 29, 0.65) 0, rgba(29, 29, 29, 1) 100%)
  filter unquote('progid:DXImageTransform.Microsoft.gradient(startColorstr"#801d1d1d",endColorstr="#1d1d1d",GradientType=0)')

#background-image
  position absolute
  left 0
  right 0
  z-index 1
  display block
  width 100%

.main-content
  position absolute
  left 0
  right 0
  z-index 7
  margin 0 auto

.container
  margin-right auto
  margin-left auto
  padding-left 15px
  padding-right 15px

.home-content h1
  font-size 2.75em
  font-weight 700
  text-shadow 0 2px 2px rgba(0, 0, 0, .4)
  margin-bottom 35px
  margin-top 30px

.home-content p
  font-size .95em
  color $text-color-third
  width 650px
  margin 0 auto
  line-height 21px
  margin-bottom 50px

.featured-blog a
  color $color-theme-1
  transition(color .15s ease-in-out)

.featured-blog a:hover
  color $color-theme-2

.row
  margin-left -15px
  margin-right -15px

.home-content #popular-downloads h2, .h2
  font-size 1.15em
  font-weight 700
  border-bottom 1px solid rgba(255, 255, 255, 0.2)
  padding-bottom 20px
  margin-bottom 25px

.browse-movie-link
  display inline-block
  width 100%
  border 5px solid $text-color-second
  transition(border .15s ease-in-out)
  border-radius(4px)
  font-size $font-size-24

.browse-movie-link:hover
  border 5px solid $color-theme-1

.smooter
  overflow hidden
  position relative
  width 100%
  margin 0
  background $background-color-black !important

.img-responsive
  display block
  max-width 100%
  height auto

.smooter, .smootercaption
  display block

.browse-movie-link:hover .smootercaption
  opacity 1

.browse-movie-link:hover .smooter img
  opacity .2

.browse-movie-link:hover span.button-1-download-big
  -moz-transform translateY(-35px)
  -webkit-transform translateY(-35px)
  transform translateY(-35px)

.smooter img
  width 100%
  transition(opacity .15s ease-in-out)

.home-content .smootercaption
  padding-top 40px

.smootercaption
  color $text-color-second
  height 100%
  left 0
  opacity 0
  position absolute
  right 0
  top 0
  z-index 2
  width 100%
  transition(all 300ms)
  transition-delay(100ms)
  padding-top 20px

.smootercaption span.icon-star
  position relative
  width 100%
  color $color-theme-1
  transition(all 300ms ease)

.smooter .smootercaption .rating
  margin-bottom 20px

.smooter .smootercaption h4
  font-size 25px
  position relative
  width 100%
  padding-left 0 !important
  padding-right 0 !important
  font-weight bold
  color $text-color-second

.home-content .smooter .smootercaption .button-1-download-big
  margin-top 40px

.button-1-download-big
  border 0
  background $color-theme-1
  cursor pointer
  border-radius(3px)
  display block
  font-weight bold
  color $text-color-second
  top 35px
  font-size 16px
  /*position relative*/
  width 130px
  padding 7px 0
  margin 0 auto
  transition(all 300ms ease)

.button-1-download-big:hover
  background $color-theme-2

.browse-movie-bottom
  margin 0 auto
  padding 0 5px
  max-width 220px
  text-align left

.browse-movie-title, .browse-movie-title:focus, #comments-box a
  color $text-color-second
  font-weight 700
  display block
  transition(color .15s ease-in-out)
  white-space nowrap
  overflow hidden
  text-overflow ellipsis

.browse-movie-year
  font-size .85em
  color $text-color-main

.content-dark
  background $background-color-black3
  width: 100%

.home-content .home-movies h2
  font-size: 1.15em;
  font-weight: 700;
  padding: 0 15px;
  margin-bottom: 25px;
  text-align: left;

.home-content .home-movies h2 a
  float: right;
  font-size: 14px;
  font-weight: bold;
  color: $text-color-main;
  transition(color .25s ease-in-out)

footer
  background: $background-color-black3
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #2f2f2f;

footer ul
  padding-top: 10px;
  display: inline-block;

footer ul li
  display: inline;
  margin-right: 5px;

footer ul li a
  font-size: .85em;
  font-weight: bold;
  color: $text-color-main
  transition(color .25s ease-in-out)

footer ul li a:hover
  color $text-color-second

#info-page {
  text-align: left;
  margin-bottom: 50px;
  margin-top: 25px;
}

#info-page h2, .green-title {
  color: $color-theme-1
  font-size: 1.7em;
  margin-bottom: 35px;
  margin-top: 10px;
}

#info-page label, #info-page p {
  color: $text-color-third
  font-size: .95em;
  margin-bottom: 0;
}

.input {
  font-size: .95em;
  color: $text-color-third
  width: 100%;
  margin-top: 5px;
  margin-bottom: 20px;
  background: #282828;
  border: 0;
  padding: 11px;
  border-radius(3px)
}

.just-link
  display: inline-block;
  margin-top: 15px;

.just-link a
  display: block;
  color $color-theme-1
  transition(color .25s ease-in-out)

.just-link a:hover
  color $color-theme-2

#info-page .send-btn
  display: inline-block;
  vertical-align: top;
  float: right;
  margin-top: 20px;

#info-page .button-1-download-big
  width: auto;
  padding-left: 7px;
  padding-right: 7px;
  position: static;
  border: 0;

.movie-poster
  padding-right 16px

.movie-poster img
  border: 5px solid #fff;
  border-radius(4px);

.movie-poster .button-1-download-big
  position static
  text-align center
  width 100%
  margin-top 14px

#movie-info
  float: left
  text-align left

#movie-info h1, #movie-info h2, #mobile-movie-info h1, #mobile-movie-info h2, #info-page h1 {
  font-weight: bold;
  color: #fff;
  text-shadow: 0 2px 2px rgba(0, 0, 0, .4);
  margin: 0;
}

#movie-info h1
  font-size: 2.5em;
  margin-bottom: 24px;
  line-height: 42px;

#background-image
  background-repeat no-repeat
  background-position center center;
  background-size(cover);
  position absolute
  top: 0
  z-index -2

#background-overlay
  position absolute
  top: 0
  z-index -1

.p
  margin-top 10px;

.pb
  margin-top 30px;

.w25
  width 25%
  float left

.w75
  width 75%
  float left

.movie-images img
  float left

#movie-content
  text-align left

#movie-content h3
  margin-bottom: 14px;

.quality {
  width 160px;
  margin 0px auto
  text-align center
  font-size: 1.8em;
  color: #fff;
  transition(color .15s ease-in-out)
}

.table .even
  background-color $background-color-black5

.table .odd
  background-color $background-color-black6

.table .head
  border-top: 1px solid $background-color-black4
  border-bottom: 1px solid $background-color-black4

.table .body
  border-bottom: 1px solid #333;

.table .tr
  padding 12px 0
  width 100%

.table .th, .table .td
  float left

.table .th
  color $text-color-second

.table .td
  color $text-color-third

.table .w5
  width 60px

.table .w6
  width 100px

#search-form
  padding 20px 0px

#search-form .form
  width 600px
  margin 0px auto

#search-fields .p
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 1.35em;
  color: $text-color-main;

#search-fields input
  border: 0;
  color: #a2a2a2;
  border-radius(4px)
  background-image: none;
  padding: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 40px;
  background: $background-color-black7;

#search-fields .selects
  display: inline-block;
  width: 130px;
  margin-right: 20px;
  margin-top 16px
  float: left;

.selects
  float: left
  margin-bottom: 10px;
  margin-right 20px
  text-align left

.selects .inner
  height 280px
  overflow-y auto

.selects p

  font-weight: 700;
  font-size: .9em;
  color: $text-color-main;

.movies h2 {
  color: $color-theme-1
  font-size: 1.4em;
  margin-top: 10px;
}

ul.paginator {
  margin: 25px 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-size: 14px;
  list-style-type: none;
  display: inline-block;
}

ul.paginator li {
  display: inline-block;
  margin-left: 5px;
}

ul.paginator li a {
  color: $text-color-second
  font-weight bold
  border: 1px solid #333;
  display: block;
  padding: 10px 13px !important;
  transition(all .2s ease-in-out)
  border-radius(4px)
  background-color $background-color-black3;
}

ul.paginator li a:hover, ul.paginator li a.active {
  color: #fff;
  background: $color-theme-1;
  border-color: $color-theme-1;
}

.border
  border: 1px solid #333;

.movie-list-small-item
  float left
  margin 15px 22px

.movie-list-big-item
  float left
  margin 15px 41px
