vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  -ms-{prop} args
  {prop} args

backface-visibility()
  vendor('backface-visibility', arguments)

border-radius()
  vendor('border-radius', arguments)

transition()
  vendor('transition', arguments)

text-size-adjust()
  vendor('text-size-adjust', arguments)

transition-delay()
  vendor('transition-delay', arguments)
